<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Test project</title>
    @Styles.Render("~/content/site")
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <link rel="icon" type="image/png" href="/content/favicons/favicon-192x192.png" sizes="192x192">
    <!-- social media -->
    <meta prefix="og: http://ogp.me/ns#" property="og:site_name" content="TestProject"/>
</head>
<body>
    <header>
        <div id="header-primary" class="container header-primary">
            <div class="row">
                <div class="col-xs-8 col-sm-9 col-md-9">
                    <vue-smart-search search-action="/catalog/search"
                                        suggestion-action="/api/searchsuggestion"
                                        search-term="@(Model.SearchTerm)"
                                        ref="smartSearch"
                                        v-cloak></vue-smart-search>
                </div>
                <div class="col-xs-4 col-sm-3 col-md-3">
                    mini-basket
                </div>
            </div>
        </div>
    </header>
    <section id="content">
        <div class="container">
            @RenderBody()
        </div>
    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.10/lodash.min.js" integrity="sha256-VKITM616rVzV+MI3kZMNUDoY5uTsuSl1ZvEeZhNoJVk=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js" integrity="sha256-FtWfRI+thWlNz2sB3SJbwKx5PgMyKIVgwHCTwa3biXc=" crossorigin="anonymous"></script>
    @Scripts.Render("~/bundles/components")
    @Scripts.Render("~/bundles/site")
</body>
</html>
